<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Package Name="EFH-2" Manufacturer="USDA-dev" Version="1.0.0.0" UpgradeCode="f1184f64-bad2-4f94-baaf-7820040c142a">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

	  <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER">
	  </ui:WixUI>

	  <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes"/>
	  <Media Id="2" Cabinet="cab2.cab" EmbedCab="yes"/>

    <Feature Id="Main" AllowAbsent="no" Description="The main components of the application, including WinTr20">
      <ComponentGroupRef Id="maincomp"/>
    </Feature>

	  <Feature Id="ProgramData" AllowAbsent="no" Description="Data used by EFH-2">
		  <ComponentGroupRef Id="programdatacomp"/>
	  </Feature>

	  <Feature Id="Shortcut">
		  <Component Id="ShortcutComponent" Guid="EFF3A4CF-F09A-4D8F-A33A-0506ACDB76B6">
			  <Shortcut Id="ApplicationStartMenuShortcut"
						Directory="ApplicationProgramFolder"
						Advertise="no"
						Name="EFH-2-dev"
						Description="EFH-2 application"
						Target="[INSTALLFOLDER]EFH2.exe"
						WorkingDirectory="INSTALLFOLDER">
			  </Shortcut>

			  <RemoveFolder On="uninstall" Id="ApplicationProgramFolder" Directory="ApplicationProgramFolder"/>
			  <RemoveFolder On="uninstall" Id="EngineeringApplicationsFolder" Directory="EngineeringApplicationsFolder"/>

			  <RegistryValue Root="HKCU" Key="Software\USDA-dev\EFH-2-dev" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
		  </Component>
	  </Feature>
  </Package>
</Wix>
